@startuml 
<style>

jsonDiagram {
    .h2 {
        BackGroundColor green FontColor yellow
    }

    node {
        BackGroundColor Khaki LineColor lightblue FontName Helvetica FontColor red FontSize 18 FontStyle bold RoundCorner 0 LineThickness 2 LineStyle 10-5 separator {
            LineThickness 0.5 LineColor black LineStyle 1-5
        }
    }

    arrow {
        BackGroundColor lightblue LineColor green LineThickness 2 LineStyle 2-5
    }

    highlight {
        BackGroundColor red FontColor white FontStyle italic
    }
}

</style>

@enduml